
FileEncoder.Tests/obj/

FileEncoder.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll

FileEncoder.Tests/bin/Debug/netcoreapp3.1/zh-Hant/

FileEncoder.Tests/bin/Debug/netcoreapp3.1/zh-Hans/

FileEncoder.Tests/bin/Debug/netcoreapp3.1/

FileEncoder.Console/.vs/FileEncoder/v16/

FileEncoder.Console/packages/xunit.extensibility.core.2.4.1/

FileEncoder.Console/packages/xunit.assert.2.4.1/

FileEncoder.Console/packages/xunit.abstractions.2.0.3/

FileEncoder.Console/obj/Debug/

FileEncoder.Console/bin/Debug/
